.footer-splash {
    background: #E8E3D9;
    padding: 39px 20px;
    position: relative;

    .holder {
        margin: 0 auto;
        max-width: 428px;
        width: 100%;
    }

    .newsletter-text {
        color: #000000;
        font-family: 'OptimaNovaLTProRegular';
        font-size: 16px;
        line-height: 20px;
    }

    .newsletter-form {
        padding-top: 23px;

        button {
            margin-top: 13px !important;
        }
    }

    .newsletter-success-message {
        color: #585858;
        font-family: 'Switzer-Light';
        font-size: 10px;
        line-height: 18px;
        max-width: 221px;
        transition: all 550ms ease-in-out;
        width: 100%;
    }

    .desktop-links {
        display: none;
    }

    .mobile-links {
        margin-top: 30px;
        max-width: 355px;
        padding-right: 20px;
        width: 100%;
    }

    .flex-content {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        margin-top: 55px;

        &:first-child {
            margin-top: 0;

            .right {
                padding-bottom: 4px;
            }
        }
    }

    .left {
        max-width: 200px;
        width: 100%;
    }

    .right {
        max-width: 93px;
        width: 100%;
    }

    .link, .copyright {
        color: #585858;
        display: block;
        font-family: 'Switzer-Light';
        font-size: 12px;
        line-height: 16px;
        margin-top: 10px;
        text-decoration: none;

        &.location {
            line-height: 25px;
            margin-top: 6px;
        }

        &:first-child {
            margin-top: 0;
        }

        &.active {
            width: fit-content;

            &:after {
                background: #585858;
                bottom: 0;
                content: '';
                display: block;
                height: 0.7px;
                left: 0;
                position: absolute;
                transition: all 550ms ease-in-out;
                width: 100%;
            }
        }
    }

    &.splash, &.privacy {

        .number {
            display: none;
        }
    }

    &.privacy {

        .header, .content {
            display: none;
        }

        .mobile-links {
            margin-top: 0;
        }
    }
}

@media (min-width: 768px) {

    .footer-splash {
        background: #E0DBD1;
        bottom: 0;
        left: 0;
        padding: 90px 0 58px;
        position: fixed;
        width: 100%;

        .holder {
            max-width: 100%;
        }

        .contact-success-message {
            max-width: 531px;
        }

        .newsletter-wrapper {
            bottom: 58px;
            left: 42.65%;
            margin-top: 0;
            max-width: 22.75%;
            position: absolute;
            width: 100%;
        }

        .newsletter-form {
            padding-top: 24px;

            button {
                margin-top: 27px !important;
            }
        }

        .wrapper-content-form {
            display: flex;
            justify-content: space-between;
        }

        .input-container {
            max-width: 241px;
            padding-right: 10px;
            width: 100%;
        }

        .contact-form button[type=submit] {
            margin: 0 !important;

            &:after {
                bottom: 0 !important;
            }
        }

        .newsletter-success-message {
            line-height: 16px;
            max-width: 261px;
        }

        .mobile-links {
            display: none;
        }

        .desktop-links {
            align-items: flex-end;
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            padding-top: 0;
            width: 100%;
        }

        .left-links {
            align-items: flex-end;
            margin-left: 3%;
            max-width: 28.9%;
            width: 100%;

            .flex-content {
                display: flex;
                justify-content: space-between;
            }
        }

        .right-links {
            align-items: flex-end;
            display: flex;
            justify-content: space-between;
            margin-right: 3%;
            max-width: 22.75%;
            width: 100%;
        }

        .link, .copyright {
            margin-top: 0;

            &.location {
                line-height: 20px;
                margin-top: 0;
            }

            &:first-child {
                margin-top: 0;
            }
        }

        .link {
            line-height: 20px;
            position: relative;
            width: fit-content;

            &:after {
                background: #585858;
                bottom: 0;
                content: '';
                display: block;
                height: 0.7px;
                left: 100%;
                position: absolute;
                transition: all 550ms ease-in-out;
                width: 0;
            }

            &:hover {

                &:after {
                    left: 0;
                    transition: width 550ms ease-in-out;
                    width: 100%;
                }
            }
        }

        .location {
            max-width: 210px;
            padding-left: 10px;

            .subline {
                bottom: 0;
                height: 0.7px;
                left: 0;
                position: absolute;
                width: calc(100% - 46px);

                &:after {
                    background: #585858;
                    bottom: 0;
                    content: '';
                    display: block;
                    height: 0.7px;
                    left: 100%;
                    position: absolute;
                    transition: all 550ms ease-in-out;
                    width: 0;
                }
            }

            &:hover {

                .subline {

                    &:after {
                        left: 0;
                        transition: width 550ms ease-in-out;
                        width: 100%;
                    }
                }
            }

            &:after {
                content: none;
            }
        }

        .copyright {
            line-height: 20px;
            max-width: 182px;
            padding-right: 10px;
            width: 100%;
        }
    }
}