footer {
    background: #E8E3D9;
    padding: 45px 20px;
    position: relative;

    .float-icon {
        bottom: 47px;
        max-width: 28px;
        position: absolute;
        right: 20px;
        width: 100%;
    }

    .holder {
        margin: 0 auto;
        max-width: 428px;
        width: 100%;
    }

    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
        position: relative;
        width: 100%;
    }

    .line {
        bottom: 0;
        background: #7E7E7E;
        height: 0.75px;
        left: 0;
        position: absolute;
        width: 0;

        &.apply-effect {
            width: 100%;
        }
    }

    .header-content {
        max-width: 100%;
        position: relative;
        width: 100%;

        .desc {
            opacity: 0;
        }
    }

    .title, .desc {
        color: #000000;
        font-family: 'Switzer-Light';
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .desc {
        left: 0;
        position: absolute;
        top: 0;
    }

    .number {
        color: #000000;
        font-family: 'Switzer-Light';
        font-size: 12px;
        line-height: 20px;
    }

    .content {
        padding-top: 65px;
    }

    .text-wrapper {
        max-width: 310px;
        width: 100%;
    }

    .text {
        color: #585858;
        font-family: 'Switzer-Light';
        font-size: 15px;
        line-height: 26px;
    }

    .form-wrapper {
        padding-top: 50px;
    }

    .contact-success-message {
        color: #585858;
        font-family: 'Switzer-Regular';
        font-size: 13px;
        line-height: 20px;
        max-width: 226px;
        transition: all 550ms ease-in-out;
        width: 100%;
    }

    .newsletter-wrapper {
        margin-top: 68px;
    }

    .newsletter-text {
        color: #000000;
        font-family: 'OptimaNovaLTProRegular';
        font-size: 16px;
        line-height: 20px;
    }

    .newsletter-form {
        padding-top: 23px;

        button {
            margin-top: 13px !important;
        }
    }

    .newsletter-success-message {
        color: #585858;
        font-family: 'Switzer-Light';
        font-size: 10px;
        line-height: 18px;
        max-width: 221px;
        transition: all 550ms ease-in-out;
        width: 100%;
    }

    .desktop-links {
        display: none;
    }

    .mobile-links {
        margin-top: 60px;
        max-width: 355px;
        padding-right: 20px;
        width: 100%;
    }

    .flex-content {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        &:first-child {
            margin-top: 0;

            .right {
                padding-bottom: 4px;
            }
        }
    }

    .left {
        max-width: 190px;
        width: 100%;
    }

    .right {
        max-width: 93px;
        width: 100%;
    }

    .link, .copyright {
        color: #585858;
        display: block;
        font-family: 'Switzer-Light';
        font-size: 12px;
        line-height: 16px;
        margin-top: 10px;
        text-decoration: none;

        &.location {
            line-height: 25px;
            margin-top: 6px;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    &.splash, &.privacy {

        .number {
            display: none;
        }
    }

    &.privacy {

        .header, .content {
            display: none;
        }

        .mobile-links {
            margin-top: 0;
        }
    }
}

@media (min-width: 768px) {

    footer {
        background: #E0DBD1;
        bottom: 0;
        left: 0;
        padding: 67px 45px 41px;
        position: fixed;
        width: 100%;

        .float-icon {
            right: 45px;
        }

        .holder {
            max-width: 1422px;
        }

        .header {
            padding-bottom: 15px;
        }

        .header-content {
            overflow: hidden;

            .title {
                transform: translateY(0);
            }

            .desc {
                opacity: 1;
                transform: translateY(100%);
            }

            &:hover {

                .title {
                    transform: translateY(-100%);
                }

                .desc {
                    transform: translateY(0);
                }
            }
        }

        .title, .desc {
            letter-spacing: 0.02em;
        }

        .number {
            color: #000000;
            font-family: 'Switzer-Light';
            font-size: 12px;
            line-height: 20px;
        }

        .content {
            align-items: flex-start;
            display: flex;
            justify-content: space-between;
            padding-top: 117px;
        }

        .text-wrapper {
            max-width: 19%;
            width: 100%;
        }

        .text {
            line-height: 24px;
        }

        .form-wrapper {
            max-width: 60%;
            padding-top: 0;
            width: 100%;
        }

        .contact-success-message {
            max-width: 531px;
        }

        .newsletter-wrapper {
            margin-top: 0;
            max-width: 19%;
            width: 100%;
        }

        .newsletter-form {
            padding-top: 24px;

            button {
                margin-top: 27px !important;
            }
        }

        .newsletter-success-message {
            line-height: 16px;
            max-width: 261px;
        }

        .mobile-links {
            display: none;
        }

        .desktop-links {
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            padding-top: 130px;
            width: 100%;
        }

        .left-links {
            max-width: 19%;
            width: 100%;

            .flex-content {
                display: block;
                justify-content: space-between;
            }
        }

        .center-links {
            display: flex;
            max-width: 60%;
            width: 100%;
        }

        .right-links {
            display: flex;
            max-width: 19%;
            width: 100%;
        }

        .link, .copyright {
            margin-top: 0;

            &.location {
                line-height: 20px;
                margin-top: 0;
            }

            &:first-child {
                margin-top: 0;
            }
        }

        .link {
            line-height: 20px;
            position: relative;
            width: fit-content;

            &:after {
                background: #585858;
                bottom: 0;
                content: '';
                display: block;
                height: 0.7px;
                left: 100%;
                position: absolute;
                transition: all 550ms ease-in-out;
                width: 0;
            }

            &:hover {

                &:after {
                    left: 0;
                    transition: width 550ms ease-in-out;
                    width: 100%;
                }
            }
        }

        .location {
            max-width: 246px;
            padding-right: 46px;

            .subline {
                bottom: 0;
                height: 0.7px;
                left: 0;
                position: absolute;
                width: calc(100% - 46px);

                &:after {
                    background: #585858;
                    bottom: 0;
                    content: '';
                    display: block;
                    height: 0.7px;
                    left: 100%;
                    position: absolute;
                    transition: all 550ms ease-in-out;
                    width: 0;
                }
            }

            &:hover {

                .subline {

                    &:after {
                        left: 0;
                        transition: width 550ms ease-in-out;
                        width: 100%;
                    }
                }
            }

            &:after {
                content: none;
            }
        }

        .copyright {
            line-height: 20px;
            max-width: 121px;
            padding-right: 22px;
            width: 100%;
        }

        &.privacy {

            .desktop-links {
                padding-top: 0;
            }
        }
    }
}

@media (min-width: 1020px) {

    footer {

        .text-wrapper {
            max-width: 281px;
            padding-right: 15px;
        }

        .form-wrapper {
            max-width: 599px;
            min-width: 599px;
            width: 599px;
        }

        .newsletter-wrapper {
            max-width: 357px;
            padding-left: 15px;
        }

        .left-links {
            max-width: 270px;
            padding-right: 15px;

            .flex-content {
                display: flex;
                justify-content: space-between;
            }
        }

        .center-links {
            max-width: 599px;
            min-width: 599px;
            width: 599px;
        }

        .right-links {
            align-items: flex-start;
            max-width: 357px;
            padding-left: 15px;
        }
    }
}