.block.cover {
    align-items: center;
    color: #E8E3D9;
    display: flex;
    font-family: 'OptimaNovaLTProLight';
    font-size: 22px;
    height: 100vh;
    justify-content: center;
    line-height: 30px;
    opacity: 1;
    padding: 0 70px;
    position: relative;
    text-align: center;

    &.no-visible {
        opacity: 0;
        pointer-events: none;
    }

    .logo {
        display: block;
        left: 24px;
        max-width: 131px;
        position: absolute;
        top: 26px;
        width: 100%;
        z-index: 1;
    }

    .video-wrapper-one, .swiper-left {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 50%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: unset;
    }

    .background-one, .background-two {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .video-wrapper-two, .swiper-right {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        bottom: 0;
        height: 50%;
        position: absolute;
        right: 0;
        width: 100%;
        z-index: unset;
    }

    .holder {
        max-width: 291px;
        position: relative;
        z-index: 1;
    }

    video {
        display: block;
        height: 100%;
        object-fit: cover; /* se ajusta sin recortes */
        object-position: center;
        width: 100%;
    }
}

@media (min-width: 768px) {

    .block.cover {
        font-size: 24px;
        line-height: 34px;

        .video-wrapper-one, .video-wrapper-two, .swiper-left, .swiper-right {
            position: fixed;
        }

        .logo {
            left: 45px;
            max-width: 155px;
            top: 30px;
        }

        .video-wrapper-one, .swiper-left {
            height: 100%;
            width: 50%;
        }

        .video-wrapper-two, .swiper-right {
            height: 100%;
            width: 50%;
        }

        .holder {
            max-width: 367px;
        }

        &.cover-splash {

            .video-wrapper-one, .video-wrapper-two, .swiper-left, .swiper-right {
                position: absolute;
            }
        }
    }
}