.intro-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: white;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 750ms ease;

    .background {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 100%;
        left: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .logo {
        left: 22px;
        max-width: 131px;
        position: fixed;
        top: 26px;
        width: 100%;
    }
}

.scroll-indication {
    bottom: 25px;
    color: #F3EEE7;
    font-family: 'Switzer-Light';
    font-size: 12px;
    left: 50%;
    line-height: 16px;
    padding-top: 23px;
    position: fixed;
    transform: translateX(-50%);

    &:before {
        background: url('../../icons/scroll_arrow.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 5px;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 10px;
    }
}

.intro-section.fade-in {
    opacity: 1;
    pointer-events: auto;
}

.intro-section.fade-out {
    opacity: 0;
    pointer-events: none;
}

.scroll-area {
    height: 350vh; // Simula el scroll interno para cambiar textos
}

.intro-text-container {
    //height: 100vh;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.intro-text {
    color: #E8E3D9;
    font-family: 'OptimaNovaLTProLight';
    font-size: 22px;
    left: 50%;
    line-height: 30px;
    max-width: 428px;
    opacity: 0;
    padding: 0 35px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.8s ease-in-out;
    width: 100%;
}

.intro-text.visible {
    opacity: 1;
}

.intro-text.no-visible {
    opacity: 0;
}

@media (min-width: 768px) {

    .intro-section {

        .logo {
            left: 45px;
            max-width: 156px;
            top: 30px;
        }
    }

    .intro-text {
        font-size: 20px;
        padding: 0;

        &.one {
            max-width: 392px;
        }

        &.two {
            max-width: 488px;
        }

        &.three {
            max-width: 476px;
        }
    }
}